html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-google img {
  height: 50px;
  width: 50px;
}



.column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.demo-button {
  background-color: #3c78f1;
  color: white;
  padding: 0.5rem 0.5rem;
}