.navbar ul {
  min-height: 100%;
  min-width: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: azure;
  margin: 0;
}

.navbar ul li {
  padding: 1rem 0;
}